:root {
  var-bgl-color: #3f3f3f;
  var-bg-color: #4c4c4c
}

.tip {
  font-size: 1em
}

.tip-inner {
  background: -webkit-linear-gradient(#4c4c4c, #3f3f3f, #4c4c4c);
  background: -moz-linear-gradient(#4c4c4c, #3f3f3f, #4c4c4c);
  background: -ms-linear-gradient(#4c4c4c, #3f3f3f, #4c4c4c);
  background: -o-linear-gradient(#4c4c4c, #3f3f3f, #4c4c4c);
  color: #fff;
  max-width: 200px;
  padding: 8px 6px 7px 6px;
  text-align: center;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px
}

.tip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed #4c4c4c
}

.tip-arrow-south {
  border-bottom-color: #4c4c4c
}

.tip-arrow-north {
  border-top-color: #4c4c4c
}

.tip-arrow-west {
  border-left-color: #4c4c4c
}

.tip-arrow-east {
  border-right-color: #4c4c4c
}

.tip-south .tip-arrow {
  top: 0px;
  left: 50%;
  margin-left: -5px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent
}

.tip-north .tip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent
}

.tip-west .tip-arrow,
.tip-north-west .tip-arrow,
.tip-south-west .tip-arrow {
  right: 0;
  top: 50%;
  margin-top: -5px;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent
}

.tip-east .tip-arrow,
.tip-north-east .tip-arrow,
.tip-south-east .tip-arrow {
  left: 0;
  top: 50%;
  margin-top: -5px;
  border-right-style: solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent
}

.tip-north-west .tip-arrow,
.tip-north-east .tip-arrow {
  top: 25%
}

.tip-south-west .tip-arrow,
.tip-south-east .tip-arrow {
  top: 75%
}